# Environment & Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
FLIPKART_RECOMMENDER.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Logs
logs/
*.log

# ML model artifacts (too large for git)
ml/sentiment/model/
ml/sentiment/checkpoints/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow Local Tracking runs
mlruns/

# Project Implementation Guide
implementation_guide.md
llm_project_context.md