# Core
flask
python-dotenv
pandas

# RAG Pipeline
langchain
langchain-astradb
langchain-huggingface
langchain-groq
langchain-community
datasets
pypdf

# ML / Sentiment Analysis
scikit-learn
joblib
torch --index-url https://download.pytorch.org/whl/cpu
transformers
accelerate

# Monitoring
prometheus_client

# EDA / Visualization
matplotlib
seaborn
wordcloud